 *{
 	margin: 0;
 	padding: 0;
 }
 a{
 	text-decoration: none;
 }
.title{
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.15);
    background: url(../ZHUYEimg/alpha.png) repeat;
}
li>a{
	text-decoration: none;
}
.nav_box {
	height: 64px;
    width: 1100px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.logo{
	width: 140px;
}
.nav_right{
    margin-left: 12%;
}
.logo, .nav_right {
    float: left;
}
.nav_ul {
    overflow: hidden;
}
ul, ol {
    list-style: none;
}
.nav_ul li {
    float: left;
    width: 64px;
    line-height: 64px;
    font-size: 16px;
    text-align: center;
    margin: 0px 15px;
    position: relative;
    cursor: pointer;
    height: 64px;
}
.nav_ul li.cur a {
    color: #5db740;
}
.cur .nav_bg {
    display: block;
}
.nav_ul li a {
    width: 64px;
    height: 64px;
    display: block;
    line-height: 64px;
    position: absolute;
    color: #FFFFFF;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 3;
}
.nav_bg {
    display: none;
    width: 64px;
    height: 58px;
    border-top: 6px solid #5db740;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.login{
	width: 104px;
    height: 26px;
    float: right;
    margin-top: 19px;
    font-size: 12px;
    background: #5db740;
}
.login a {
	text-decoration: none;
    display: block;
    float: left;
    width: 49%;
    cursor: pointer;
    line-height: 26px;
    color: #fff;
    text-align: center;
}
.login span {
    display: block;
    float: left;
    width: 1px;
    height: 18px;
    background: #fff;
    margin-top: 4px;
}
.A:hover{
	border-top: 6px solid #5db740;
	color: #5db740;
}
.B:hover{
	border-top: 6px solid #5db740;
	color: #5db740;
}
.C:hover{
	border-top: 6px solid #5db740;
	color: #5db740;
}
.D:hover{
	border-top: 6px solid #5db740;
	color: #5db740;
}
.E:hover{
	border-top: 6px solid #5db740;
	color: #5db740;
}
.footer {
    width: 100%;
    background-color: #434343;
}
.footer_1 {
    width: 1100px;
    margin: 0 auto;
}
.footer_1 {
    overflow: hidden;
    padding: 30px 0 50px 0;
}
.footer_1 ul {
    float: left;
    overflow: hidden;
    width: 33%;
}
.footer_1 h2 {
    font-size: 22px;
    line-height: 36px;
}
.footer_1 h2 {
    margin-bottom: 15px;
    font-weight: lighter;
}
.footer_1 ul li, .footer_1 ul li a, h2 a, h2 {
    color: #fff;
}
.footer_1 ul li {
    line-height: 24px;
}
.footer_1 ul.fot_02 ol {
    float: left;
    margin-right: 3%;
}
.fot_03 li {
    font-size: 30px;
    line-height: 36px;
}
#footer .footer_2 {
    width: 100%;
    background: #2b2b2b;
    padding: 30px 0;
}
#footer .footer_2 p {
    font-size: 14px;
    line-height: 25px;
}
.p>p {
    color: white;
    text-align: center;
    line-height: 25px;
}
.footer_2 p a {
    margin-left: 10px;
    color: #fff;
}
.top{
	width: 100%;
	height: 64px;
	background: black;
}
.qb_box {
    background: #e7e7e7;
}
.dsp_baner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.adn_05 {
    width: 1100px;
    margin-left: -550px;
}
.dsp_box {
    position: relative;
    overflow: hidden;
    color: #000;
    top: 450px;
}
.dsp_box h2 {
    font-size: 52px;
    text-align: center;
}
.dsp_box p {
    font-size: 30px;
    line-height: 38px;
    margin: 15px 0 35px 0;
    color: #fff;
    text-align: center;
}
.adn_01 {
    position: absolute;
    top: 0px;
    left: 50%;
}
.dsp_two {
    width: 100%;
    background: #e7e7e7;
}
.dt {
    width: 100%;
    position: relative;
    height: 951px;
}
.dsp_posi {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
}
.huadong {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
.huadong ul {
    overflow: hidden;
    list-style: none;
}
.huadong ul li {
    width: 292px;
    height: 381px;
    float: left;
    margin-left: 30px;
}
.huadong ul li p {
    text-align: center;
    width: 292px;
    line-height: 120px;
    font-size: 32px;
}
.huadong ul .pic_per {
    width: 200px;
    height: 236px;
}
.huadong ul .pic_per {
    width: 200px;
    height: 236px;
    margin: 0 auto;
}
.pic_jztf {
    width: 292px;
    height: 224px;
}
.pic_data {
    width: 271px;
    height: 224px;
}
.dsp_two_03 {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.dt_gif {
    width: 650px;
    height: 612px;
}
.dsp_two_04 {
    width: 100%;
    position: relative;
    padding-bottom: 52px;
    background: -moz-linear-gradient(top, #000000 0%, #9F2F6A 50%,#9F2F6A 100%);
    background: -webkit-linear-gradient(top, #000000 0%,#9F2F6A 50%,#9F2F6A 100%);
    background: -o-linear-gradient(top, #000000 0%,#9F2F6A 50%,#9F2F6A 100%);
    background: -ms-linear-gradient(top, #000000 0%,#9F2F6A 50%,#9F2F6A 100%);
    background: linear-gradient(to bottom, #E7E7E7 0%,#9F2F6A 50%,#9F2F6A 100%);
    background: #9F2F6A\9;
    *+background: #9F2F6A;
    overflow: hidden;
}
.dsp_zi {
    height: 277px;
    background: url(../index2img/dsp_04.jpg) center no-repeat;
}
.dsp_m {
    width: 1100px;
    margin-left: -550px;
    top: 195px;
}
.dsp_m {
    position: absolute;
    left: 50%;
}
.dsp_m ul {
    width: 100%;
    position: relative;
    height: 180px;
    overflow: hidden;
    list-style: none;
}
.dsp_m ul li {
    width: 98px;
}
.dsp_m ul li {
    position: absolute;
    top: 185px;
}
.dsp_m_01 {
    top: 5px;
    left: 0;
}
.dsp_m_02 {
    left: 119px;
}
.dsp_m_03 {
    left: 235px;
}
.dsp_m_04 {
    left: 345px;
}
.dsp_m_05 {
    left: 455px;
}
.dsp_m_06 {
    right: 435px;
}
.dsp_m_07 {
    right: 313px;
}
.dsp_m_08 {
    right: 195px;
}
.dsp_m_09 {
    right: 6px;
}
.dsp_z {
    margin-top: 65px;
}
.dsp_z {
    height: 110px;
    position: relative;
    top: 150px;
}
.dsp_z h2 {
    font-size: 36px;
    color: #000;
    text-align: center;
    font-weight: lighter;
    line-height: 60px;
}
.dsp_z p {
    font-size: 26px;
    color: #461d3f;
    text-align: center;
    margin-top: 10px;
}
.dsp_three {
    width: 100%;
    overflow: hidden;
    background: #022832 url(../images/dsp_01.jpg) no-repeat bottom center;
    padding: 20px 0;
}
.dsp_three_box {
    width: 798px;
    margin: 0 auto;
}
.dsp_three_box a {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 512px;
}
.dsp_three_box img {
    width: 512px;
    height: 140px;
    margin: 0 auto;
}
.dsp_four {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.dsp_four_box {
    width: 1100px;
    margin: 0 auto;
}
.zy {
    width: 100%;
    margin-top: 90px;
    height: 65px;
}
.zy_box div {
    width: 100%;
    float: left;
    line-height: 52px;
    color: #414143;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.zy_box div.new p {
    color: #fff;
    background: #5db740;
}
.zy_box div p {
    background: #d3d3d3;
    overflow: hidden;
}
.zy_box div.new span {
    display: block;
}
.zy_box div span {
    display: none;
    width: 28px;
    height: 13px;
    background: url(../index2img/sasnj.png) no-repeat;
    margin: 0 auto;
}
.zy_logo {
    padding-top: 15px;
}
.logo_box {
    display: none;
}
.logo_ul {
    overflow: hidden;
}
.logo_ul li.li_q {
    background-position: 0px 0px;
}
.logo_ul li {
    margin-right: 20px;
}
.logo_ul li {
    width: 260px;
    height: 90px;
    background: url(../index2img/dsp_hj.png) no-repeat;
}
.logo_ul li, .logo_mt li {
    float: left;
}
.logo_ul li.li_w {
    background-position: -270px 0px;
}
.logo_ul li {
    overflow: hidden;
    margin-top: 15px;
}
.logo_ul li.li_e {
    background-position: -540px 0px;
}
.logo_ul li.maer, .logo_mt li.maer {
    margin: 0;
    margin-top: 10px;
}
.logo_ul li.li_e_1 {
    background-position: -810px 0px;
}
.logo_ul li.li_r {
    background-position: -1080px 0px;
}
.logo_ul li.li_t {
    background-position: -1350px 0px;
}
.logo_ul li.li_y {
    background-position: 0px -345px;
}
.logo_ul li.maer, .logo_mt li.maer {
    margin: 0;
    margin-top: 10px;
}
.logo_ul li.li_u {
    background-position: -270px -345px;
}